@use "../../styles/_variables" as v;

.section {
  padding: 90px 0 0 0;
}

.container {
  width: 1364px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 16px;
  margin-inline: 130px;
}

.line {
  height: 1px;
  background: #eaeaea;
  width: 360px;
}

.title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: v.$titles;
}

.onlyViewAll {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  margin-block: 8px;
}

.viewAll {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;

  font-size: 15px;
  font-weight: 700;
  color: v.$prices;
}

.tabs {
  margin: 0px auto;
  width: 1280px;
}

.tabList {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid v.$stroke-gray-products;
  background: v.$white;
}

.tabItem {
  border-right: 1px solid v.$stroke-gray-products;

  &:last-child {
    border-right: 0;
  }
}

.tabBtn {
  width: 214px;
  height: 40px;
  border: 0;
  background: transparent;
  font-size: 16px;
  color: v.$text-categories-products;
  cursor: pointer;
  text-transform: uppercase;
}

.tabActive {
  color: v.$titles;
  font-weight: 700;
}

.carouselWrap {
  display: flex;
  align-items: center;
}

.arrowLeft,
.arrowRight {
  width: 32px;
  height: 32px;
  border-radius: 999px;
  border: 1px solid #e6e6e6;
  background: v.$white;
  cursor: pointer;
  display: grid;
  place-items: center;
  color: v.$prices;
  font-size: 20px;
  border: 1 #000;
  line-height: 1;
  flex: 0 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    color: #333;
    border-color: #d8d8d8;
  }
}

.arrowLeft {
  margin-right: 14px;
}

.arrowRight {
  margin-left: 14px;
}

.grid {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 22px;
  width: 100%;
}

.card {
  width: 304px;
  height: 500px;
  background: v.$white;
  border-radius: 10px;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.13);
  flex: 0 0 auto;
}

.cardBtn {
  width: 275.85px;
  height: 44px;
  margin-left: 10px;
  border: 0;
  background: transparent;
  text-align: left;
  cursor: pointer;
}

.imageWrap {
  height: 278px;
  display: grid;
  place-items: center;
}

.image {
  max-height: 278px;
  width: auto;
}

.descName {
  margin: 0 0 5px 0;
  font-size: 15px;
  color: v.$prices;
  min-height: 40px;
}

.desc {
  margin: 0 0 0 0;
  font-size: 16px;
  color: v.$text-description-products-gray;
  min-height: 28px;
}

.price {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  color: v.$prices;
}

.interest {
  font-size: 12px;
  color: v.$prices;
}

.free {
  color: v.$titles;
  font-size: 12px;
}

.buyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 275.85px;
  border-radius: 4px;
  background: v.$titles;
  color: v.$white;
  font-weight: 700;
  font-size: 14px;
  margin-top: 14px;
}

@media (max-width: 799px) {
  .arrowLeft,
  .arrowRight,
  .tabs,
  .onlyViewAll,
  .line {
    display: none;
  }
  .container {
    width: 100vw;
    margin: 0 auto;
  }

  .carouselWrap {
    width: 100vw;
  }

  .grid {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin: 0;
    width: 100vw;
    padding-block: 8px;
  }

  .grid::-webkit-scrollbar {
    display: none;
  }

  .card {
    flex: 0 0 clamp(240px, 75vw, 304px);
    scroll-snap-align: start;
  }
}

@media (min-width: 800px) and (max-width: 1439px) {
  .grid {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    margin-inline: 10px;
    padding-block: 8px;
  }

  .grid::-webkit-scrollbar {
    display: none;
  }

  .container {
    width: 100vw;
  }

  .arrowLeft,
  .arrowRight {
    display: none;
  }

  .tabs,
  .line {
    display: none;
  }

  .title {
    min-width: 0;
  }

  .viewAll {
    display: none;
  }
}

@media (min-width: 1440px) {
  .grid {
    width: 100vw;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    padding: 8px 8px;
  }

  .grid::-webkit-scrollbar {
    display: none;
  }

  .arrowLeft,
  .arrowRight {
    margin-left: 0px;
    margin-right: 0px;
  }
}
